// Fonts

@font-face {
	font-family: iran;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANYekanRegular\(FaNum\).ttf');
}

@font-face {
	font-family: iran;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/IRANYekanLight\(FaNum\).ttf');
}

@font-face {
	font-family: iran;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IRANYekanBold\(FaNum\).ttf');
}

@font-face {
	font-family: plex;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: plex;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: plex;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/OpenSans-Bold.ttf');
}

// Colors

$black : #0F0F0F;
$white : #FFF;
$blue : #007AFF;
$borderBlack : #191919;
$darkBlue : #0040DD;
$gray : #1A1A1A;
$lightGray : #202020;
$textGray : #A7A7A7;
$spaceBlack : #000000;

// Reset

*,::after,::before{
    padding: 0;
    margin: 0;
    font-size: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'iran';
    text-decoration: none;
    direction: rtl;
	outline: none;
	border: none;
}

.clearfix:after{
	content: '';
	display: block;
	clear: both;
}