body{
    height: calc(100vh + 300px);
}

section.home{
    transform: scale(1);
    position: relative;
    height: 100%;
}

section.main-wrapper{
    max-width: 390px;
    height: 100vh;
    margin: auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 75%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    i.shadow{
        content: '';
        display: block;
        position: absolute;
        width: 390px;
        height: 390px;
        left: 0px;
        bottom: -195px;
        background: #0040DD;
        filter: blur(152px);
        z-index: -1;
    }
}

header{
    padding: 28px;
    position: relative;
    z-index: 9;
    button.burger{
        float: left;
        margin-top: 2px;
        cursor: pointer;
    }
}

button.cart{
    width: 24px;
    height: 28px;
    background: transparent;
    position: relative;
    &::after{
        display: block;
        content: '';
        border: solid 2px $black;
        background: $blue;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        position: absolute;
        top: -3px;
        left: 1px;
        transform: translate(-50%);
    }
    &::before{
        display: block;
        content: '';
        border: solid 2px $white;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform:translateX(-50%) perspective(100px) rotateX(30deg) ;
    }
    i.half-circle{
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        top: 0;
        &::before{
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            border-radius: 50%;
            border: solid $white 2px;
            width: 100%;
            height: 100%;
        }
        &::after{
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            border-radius: 50%;
            background: $black;
            width: 100%;
            height: 50%;
        }
    }
}

button.burger{
    width: 24px;
    height: 24px;
    background: transparent;
    position: relative;
    direction: ltr;
    &::after{
        display: block;
        content: '';
        border: solid 2px $black;
        background: $blue;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        position: absolute;
        top: -6px;
        left: 100%;
        transform: translateX(-50%);
    }
    i{
        background: $white;
        height: 2px;
        border-radius: 4px;
        display: block;
        &:nth-child(1){
            width: 50%;
            margin-bottom: 7px;
        }
        &:nth-child(2){
            width: 100%;
            margin-bottom: 7px;
        }
        &:nth-child(3){
            width: 75%;
        }
    }
}

section.showcase{
    z-index: -1;
    position: relative;
    div.product-image{
        position: relative;
        img{
            max-height: calc(100vh - 300px);
            margin: auto;
            display: block;
        }
        div.elipse{
            position: absolute;
            display: block;
            width: calc(100% - 64px);
            height: 60px;
            bottom: 50px;
            background: rgb(15,15,15);
            background: linear-gradient(180deg, rgb(15, 15, 15) 40%, rgb(48, 48, 48) 100%);
            border-radius: 50%;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
            &::after{
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%,0);
                display: block;
                background: #0F0F0F;
                width: 100%;
                height: calc(100% - 10px);
                border-radius: 50%;
                content: "";
            }
        }
    }
}

section.showcase-details{
    text-align: center;
    color: $white;
    span.product-name{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: block;
        direction: ltr;
    }
    h1.product-title{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 22px;
        margin: 20px 0;
        direction: ltr;
    }
    p.product-slogan{
        font-family: 'iran';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 22px;
        margin-top: 24px;
        margin-bottom: 24px;
        i.arrow-right{
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }
    }
}

i.arrow-right{
    height: 22px;
    width: 22px;
    position: relative;
    &::after{
        display: block;
        position: absolute;
        top: calc(50% + 3px);
        right: -1px;
        width: 10px;
        height: 2px;
        border-radius: 4px;
        background: #FFF;
        content: "";
        transform: rotate(135deg);
    }
    &::before{
        display: block;
        position: absolute;
        top: calc(50% - 3px);
        right: -1px;
        width: 10px;
        height: 2px;
        border-radius: 4px;
        background: #FFF;
        content: "";
        transform: rotate(45deg);
    }
    i{
        display: block;
        position: absolute;
        top: 50%;
        height: 2px;
        width: 100%;
        border-radius: 4px;
        background: $white;
    }
}

section.search-fold{
    padding: 24px;
    border-radius: 24px 24px 0px 0px;
    background: transparent;
    position: relative;
    height: 172px;
    i.after{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.37%, rgba(0, 0, 0, 0.893) 81.16%);
        content: '';
        display: block;
        position: absolute;
        top: -300px;
        height: 400px;
        width: 100%;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
    i.before{
        background: linear-gradient(180deg, #0F0F0F 0%, #0B0B0B 100%);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        opacity: 0;
        border-radius: 24px 24px 0px 0px;
    }
    button.swipe{
        background: transparent;
        display: block;
        margin: auto;
        margin-top: 40px;
        i.chevron-top.big{
            transform: scale(1.25);
            opacity: 0.5;
        }
    }
    form{
        height: 56px;
        background: $gray;
        border-radius: 12px;
        width: 100%;
        margin: auto;
        padding: 8px;
        position: relative;
        overflow: hidden;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 75%;
            top: 0;
            right: 0;
            border-bottom: 56px solid $lightGray;
            border-left: 20px solid transparent;
            border-right: 0 solid transparent;
            border-top: 0 solid transparent;
        }
        input{
            display: inline-block;
            position: relative;
            font-size: 12px;
            line-height: 40px;
            background: transparent;
            padding-right: 8px;
            color: $white;
            width: calc(100% - 100px);
        }
        button{
            display: block;
            background: $darkBlue;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            float: left;
            i.search{
                margin: auto;
            }
        }
    }
}

i.search{
    width: 16px;
    height: 16px;
    position: relative;
    display: block;
    &::before{
        content: '';
        display: block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        width: 14px;
        height: 14px;
        border:$white 2px solid;
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        left: 11px;
        top: 12px;
        width: 5px;
        height: 2px;
        background: #FFF;
        transform: rotate(45deg);
    }
}

i.chevron-top{
    width: 16px;
    height: 14px;
    position: relative;
    display: block;
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 9.6px;
        height: 2px;
        border-radius: 4px;
        top: 0;
        right: 0;
        transform: rotate(45deg);
        background: $white;
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 9.6px;
        height: 2px;
        border-radius: 4px;
        top: 0;
        left: 0;
        transform: rotate(135deg);
        background: $white;
    }
}

section.stick-bottom{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

section.dynamic-section{
    position: relative;
    transition: transform 600ms;
}

li.tag{
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    border-radius: 68px;
    background: $spaceBlack;
    padding: 0 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    a{
        color: $white;
        font-size: 12px;
        display: block;
    }
}

ul.tags{
    margin: 25px 0;
    display: none;
    opacity: 0;
    position: relative;
}

figure.discover{
    height: 200px;
    border-radius: 12px;
    background: $spaceBlack;
    position: relative;
    display: none;
    opacity: 0;
    div.mobiles{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        div.mobile-wrapper{
            position: absolute;
            top: -46px;
            width: 385px;
            right: -25px;
            i.mobile{
                display: inline-block;
                vertical-align: middle;
                margin: 9px;
                border-radius: 8px;
                border:solid $gray 1.5px;
                height: 76px;
                width: 37px;
                position: relative;
                &.blue{
                    border-color: $blue;
                    i.notch{
                        background: $blue;
                    }
                    i.multi{
                        background: $blue;
                    }
                }
                i.notch{
                    position: absolute;
                    width: 60%;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: $gray;
                    height: 3px;
                    border-radius: 0 0 8px 8px;
                }
                i.multi{
                    position: absolute;
                    width: 50%;
                    height: 2px;
                    border-radius: 4px;
                    background: $gray;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 3px;
                }
            }
        }
    }
    figcaption{
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        padding: 0 30px;
        span.subtitle{
            display: block;
            text-align: right;
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 22px;
            margin-bottom: 8px;
            position: relative;
            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 30%;
                width: 70px;
                height: 20px;
                border-radius: 0 30px 30px 30px;
                right: 0;
                background: $darkBlue;
                z-index: -1;

            }
        }
        h2.title{
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 24px;
        }
        p.slogan{
            text-align: center;
            font-family: 'iran';
            font-style: normal;
            font-weight: 300;
            font-size: 21px;
            line-height: 22px;
            margin-top: 24px;
            margin-bottom: 24px;
            i.arrow-right{
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    }
}

section.navbar{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $black;
    padding: 0 32px;
    transform: translateX(-100%);
    z-index: 9;
    ul.menu{
        li{
            border-bottom: 1px solid $borderBlack;
            padding: 20px 0;
            button{
                display: block;
                border-radius: 12px;
                background: $darkBlue;
                color: $white;
                line-height: 48px;
                height: 48px;
                font-size: 16px;
                font-weight: bold;
                width: 100%;
            }
            &:last-child{
                border-bottom: none;
            }
            a{
                color: $textGray;
                font-size: 14px;
                img{
                    display: inline-block;
                    vertical-align: middle;
                    width: 32px;
                    height: 32px;
                    margin-left: 10px;
                }
            }
            div.balance{
                float: left;
                span{
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                    line-height: 32px;
                    &.amount{
                        color: $white;
                        font-size: 14px;
                    }
                    &.currency{
                        color: $textGray;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    div.progress{
        padding: 30px 0;
        padding-bottom: 46px;
        border-bottom: 1px solid $borderBlack;
        img{
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            margin-left: 20px;
        }
        div.indicator{
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 52px);
            position: relative;
            top: 16px;
            i.bar{
                height: 6px;
                border-radius: 12px;
                background: $lightGray;
                position: relative;
                margin-bottom: 10px;
                display: block;
                i.filled{
                    position: absolute;
                    width: 82%;
                    border-radius: 12px;
                    height: 6px;
                    background: $blue;
                    display: block;
                    left: 0;
                    top: 0;
                }
            }
            div.stats{
                height: 24px;
                div.left{
                    float: left;
                    direction: ltr;
                    span{
                        font-family: Helvetica;
                        line-height: 24px;
                        &.all{
                            color: $textGray;
                            font-size: 12px;
                        }
                        &.fill{
                            color: $white;
                            font-size: 14px;
                        }
                    }
                }
                div.right{
                    float: right;
                    span{
                        font-size: 14px;
                        color: $white;
                        font-family: Helvetica;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    div.go-to-profile{
        margin-top: 30px;
        border-bottom: 1px solid $borderBlack;
        height: 42px;
        button{
            background: transparent;
            i.arrow-right{
                display: block;
                transform: scale(0.75);
            }
            float: right;
        }
        div.user-data{
            float: left;
            direction: ltr;
            span{
                display: inline-block;
                vertical-align: middle;
                line-height: 24px;
                font-family: Helvetica;
                &.fullname{
                    font-size: 16px;
                    color: $white;
                    margin-right: 10px;
                }
                &.username{
                    font-size: 12px;
                    color: $textGray;
                }
            }
        }
    }
    div.social{
        div.profile-picture{
            display: inline-block;
            vertical-align: middle;
            width: 64px;
            height: 64px;
            position: relative;
            img{
                border-radius: 50%;
                width: 100%;
                height: 100%;
                display: block;
                border:solid $blue 2px;
            }
            i.badge{
                font-size: 24px;
                position: absolute;
                display: block;
                right: -5px;
                bottom: 0;
                line-height: 10px;
                font-style: normal;
            }
        }
        div.stats{
            width: calc(100% - 104px);
            display: inline-block;
            vertical-align: middle;
            margin-left: 40px;
            div.col{
                display: inline-block;
                width: 33.3333%;
                vertical-align: middle;
                text-align: left;
                span{
                    display: block;
                    color: $white;
                    &.label{
                        font-family: Helvetica;
                        font-size: 12px;
                    }
                    &.count{
                        line-height: 30px;
                        font-family: Helvetica;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    div.navigation{
        margin-top: 30px;
        margin-bottom: 20px;
        height: 24px;
        button{
            background: transparent;
            &.left{
                float: left;
            }
            &.right{
                float: right;
            }
            img{
                display: block;
                height: 24px;
            }
            i.arrow-right{
                display: block;
                transform: rotate(180deg);
            }
        }
    }
}