@font-face {
  font-family: iran;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANYekanRegular(FaNum).ttf");
}
@font-face {
  font-family: iran;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/IRANYekanLight(FaNum).ttf");
}
@font-face {
  font-family: iran;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANYekanBold(FaNum).ttf");
}
@font-face {
  font-family: plex;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: plex;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: plex;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}
*, ::after, ::before {
  padding: 0;
  margin: 0;
  font-size: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "iran";
  text-decoration: none;
  direction: rtl;
  outline: none;
  border: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

body {
  height: calc(100vh + 300px);
}

section.home {
  transform: scale(1);
  position: relative;
  height: 100%;
}

section.main-wrapper {
  max-width: 390px;
  height: 100vh;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
section.main-wrapper i.shadow {
  content: "";
  display: block;
  position: absolute;
  width: 390px;
  height: 390px;
  left: 0px;
  bottom: -195px;
  background: #0040DD;
  filter: blur(152px);
  z-index: -1;
}

header {
  padding: 28px;
  position: relative;
  z-index: 9;
}
header button.burger {
  float: left;
  margin-top: 2px;
  cursor: pointer;
}

button.cart {
  width: 24px;
  height: 28px;
  background: transparent;
  position: relative;
}
button.cart::after {
  display: block;
  content: "";
  border: solid 2px #0F0F0F;
  background: #007AFF;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -3px;
  left: 1px;
  transform: translate(-50%);
}
button.cart::before {
  display: block;
  content: "";
  border: solid 2px #FFF;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) perspective(100px) rotateX(30deg);
}
button.cart i.half-circle {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  top: 0;
}
button.cart i.half-circle::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  border-radius: 50%;
  border: solid #FFF 2px;
  width: 100%;
  height: 100%;
}
button.cart i.half-circle::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  border-radius: 50%;
  background: #0F0F0F;
  width: 100%;
  height: 50%;
}

button.burger {
  width: 24px;
  height: 24px;
  background: transparent;
  position: relative;
  direction: ltr;
}
button.burger::after {
  display: block;
  content: "";
  border: solid 2px #0F0F0F;
  background: #007AFF;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -6px;
  left: 100%;
  transform: translateX(-50%);
}
button.burger i {
  background: #FFF;
  height: 2px;
  border-radius: 4px;
  display: block;
}
button.burger i:nth-child(1) {
  width: 50%;
  margin-bottom: 7px;
}
button.burger i:nth-child(2) {
  width: 100%;
  margin-bottom: 7px;
}
button.burger i:nth-child(3) {
  width: 75%;
}

section.showcase {
  z-index: -1;
  position: relative;
}
section.showcase div.product-image {
  position: relative;
}
section.showcase div.product-image img {
  max-height: calc(100vh - 300px);
  margin: auto;
  display: block;
}
section.showcase div.product-image div.elipse {
  position: absolute;
  display: block;
  width: calc(100% - 64px);
  height: 60px;
  bottom: 50px;
  background: rgb(15, 15, 15);
  background: linear-gradient(180deg, rgb(15, 15, 15) 40%, rgb(48, 48, 48) 100%);
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
section.showcase div.product-image div.elipse::after {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  display: block;
  background: #0F0F0F;
  width: 100%;
  height: calc(100% - 10px);
  border-radius: 50%;
  content: "";
}

section.showcase-details {
  text-align: center;
  color: #FFF;
}
section.showcase-details span.product-name {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: block;
  direction: ltr;
}
section.showcase-details h1.product-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 22px;
  margin: 20px 0;
  direction: ltr;
}
section.showcase-details p.product-slogan {
  font-family: "iran";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 24px;
}
section.showcase-details p.product-slogan i.arrow-right {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

i.arrow-right {
  height: 22px;
  width: 22px;
  position: relative;
}
i.arrow-right::after {
  display: block;
  position: absolute;
  top: calc(50% + 3px);
  right: -1px;
  width: 10px;
  height: 2px;
  border-radius: 4px;
  background: #FFF;
  content: "";
  transform: rotate(135deg);
}
i.arrow-right::before {
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  right: -1px;
  width: 10px;
  height: 2px;
  border-radius: 4px;
  background: #FFF;
  content: "";
  transform: rotate(45deg);
}
i.arrow-right i {
  display: block;
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100%;
  border-radius: 4px;
  background: #FFF;
}

section.search-fold {
  padding: 24px;
  border-radius: 24px 24px 0px 0px;
  background: transparent;
  position: relative;
  height: 172px;
}
section.search-fold i.after {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.37%, rgba(0, 0, 0, 0.893) 81.16%);
  content: "";
  display: block;
  position: absolute;
  top: -300px;
  height: 400px;
  width: 100%;
  left: 0;
  z-index: -1;
  opacity: 0;
}
section.search-fold i.before {
  background: linear-gradient(180deg, #0F0F0F 0%, #0B0B0B 100%);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0;
  border-radius: 24px 24px 0px 0px;
}
section.search-fold button.swipe {
  background: transparent;
  display: block;
  margin: auto;
  margin-top: 40px;
}
section.search-fold button.swipe i.chevron-top.big {
  transform: scale(1.25);
  opacity: 0.5;
}
section.search-fold form {
  height: 56px;
  background: #1A1A1A;
  border-radius: 12px;
  width: 100%;
  margin: auto;
  padding: 8px;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}
section.search-fold form::before {
  content: "";
  display: block;
  position: absolute;
  width: 75%;
  top: 0;
  right: 0;
  border-bottom: 56px solid #202020;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-top: 0 solid transparent;
}
section.search-fold form input {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 40px;
  background: transparent;
  padding-right: 8px;
  color: #FFF;
  width: calc(100% - 100px);
}
section.search-fold form button {
  display: block;
  background: #0040DD;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  float: left;
}
section.search-fold form button i.search {
  margin: auto;
}

i.search {
  width: 16px;
  height: 16px;
  position: relative;
  display: block;
}
i.search::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: #FFF 2px solid;
}
i.search:after {
  content: "";
  display: block;
  position: absolute;
  left: 11px;
  top: 12px;
  width: 5px;
  height: 2px;
  background: #FFF;
  transform: rotate(45deg);
}

i.chevron-top {
  width: 16px;
  height: 14px;
  position: relative;
  display: block;
}
i.chevron-top::before {
  content: "";
  display: block;
  position: absolute;
  width: 9.6px;
  height: 2px;
  border-radius: 4px;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  background: #FFF;
}
i.chevron-top::after {
  content: "";
  display: block;
  position: absolute;
  width: 9.6px;
  height: 2px;
  border-radius: 4px;
  top: 0;
  left: 0;
  transform: rotate(135deg);
  background: #FFF;
}

section.stick-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

section.dynamic-section {
  position: relative;
  transition: transform 600ms;
}

li.tag {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 68px;
  background: #000000;
  padding: 0 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
li.tag a {
  color: #FFF;
  font-size: 12px;
  display: block;
}

ul.tags {
  margin: 25px 0;
  display: none;
  opacity: 0;
  position: relative;
}

figure.discover {
  height: 200px;
  border-radius: 12px;
  background: #000000;
  position: relative;
  display: none;
  opacity: 0;
}
figure.discover div.mobiles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
figure.discover div.mobiles div.mobile-wrapper {
  position: absolute;
  top: -46px;
  width: 385px;
  right: -25px;
}
figure.discover div.mobiles div.mobile-wrapper i.mobile {
  display: inline-block;
  vertical-align: middle;
  margin: 9px;
  border-radius: 8px;
  border: solid #1A1A1A 1.5px;
  height: 76px;
  width: 37px;
  position: relative;
}
figure.discover div.mobiles div.mobile-wrapper i.mobile.blue {
  border-color: #007AFF;
}
figure.discover div.mobiles div.mobile-wrapper i.mobile.blue i.notch {
  background: #007AFF;
}
figure.discover div.mobiles div.mobile-wrapper i.mobile.blue i.multi {
  background: #007AFF;
}
figure.discover div.mobiles div.mobile-wrapper i.mobile i.notch {
  position: absolute;
  width: 60%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #1A1A1A;
  height: 3px;
  border-radius: 0 0 8px 8px;
}
figure.discover div.mobiles div.mobile-wrapper i.mobile i.multi {
  position: absolute;
  width: 50%;
  height: 2px;
  border-radius: 4px;
  background: #1A1A1A;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 3px;
}
figure.discover figcaption {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
  padding: 0 30px;
}
figure.discover figcaption span.subtitle {
  display: block;
  text-align: right;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 8px;
  position: relative;
}
figure.discover figcaption span.subtitle:before {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  width: 70px;
  height: 20px;
  border-radius: 0 30px 30px 30px;
  right: 0;
  background: #0040DD;
  z-index: -1;
}
figure.discover figcaption h2.title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 24px;
}
figure.discover figcaption p.slogan {
  text-align: center;
  font-family: "iran";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 24px;
}
figure.discover figcaption p.slogan i.arrow-right {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

section.navbar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0F0F0F;
  padding: 0 32px;
  transform: translateX(-100%);
  z-index: 9;
}
section.navbar ul.menu li {
  border-bottom: 1px solid #191919;
  padding: 20px 0;
}
section.navbar ul.menu li button {
  display: block;
  border-radius: 12px;
  background: #0040DD;
  color: #FFF;
  line-height: 48px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}
section.navbar ul.menu li:last-child {
  border-bottom: none;
}
section.navbar ul.menu li a {
  color: #A7A7A7;
  font-size: 14px;
}
section.navbar ul.menu li a img {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}
section.navbar ul.menu li div.balance {
  float: left;
}
section.navbar ul.menu li div.balance span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  line-height: 32px;
}
section.navbar ul.menu li div.balance span.amount {
  color: #FFF;
  font-size: 14px;
}
section.navbar ul.menu li div.balance span.currency {
  color: #A7A7A7;
  font-size: 12px;
}
section.navbar div.progress {
  padding: 30px 0;
  padding-bottom: 46px;
  border-bottom: 1px solid #191919;
}
section.navbar div.progress img {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  margin-left: 20px;
}
section.navbar div.progress div.indicator {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 52px);
  position: relative;
  top: 16px;
}
section.navbar div.progress div.indicator i.bar {
  height: 6px;
  border-radius: 12px;
  background: #202020;
  position: relative;
  margin-bottom: 10px;
  display: block;
}
section.navbar div.progress div.indicator i.bar i.filled {
  position: absolute;
  width: 82%;
  border-radius: 12px;
  height: 6px;
  background: #007AFF;
  display: block;
  left: 0;
  top: 0;
}
section.navbar div.progress div.indicator div.stats {
  height: 24px;
}
section.navbar div.progress div.indicator div.stats div.left {
  float: left;
  direction: ltr;
}
section.navbar div.progress div.indicator div.stats div.left span {
  font-family: Helvetica;
  line-height: 24px;
}
section.navbar div.progress div.indicator div.stats div.left span.all {
  color: #A7A7A7;
  font-size: 12px;
}
section.navbar div.progress div.indicator div.stats div.left span.fill {
  color: #FFF;
  font-size: 14px;
}
section.navbar div.progress div.indicator div.stats div.right {
  float: right;
}
section.navbar div.progress div.indicator div.stats div.right span {
  font-size: 14px;
  color: #FFF;
  font-family: Helvetica;
  line-height: 24px;
}
section.navbar div.go-to-profile {
  margin-top: 30px;
  border-bottom: 1px solid #191919;
  height: 42px;
}
section.navbar div.go-to-profile button {
  background: transparent;
  float: right;
}
section.navbar div.go-to-profile button i.arrow-right {
  display: block;
  transform: scale(0.75);
}
section.navbar div.go-to-profile div.user-data {
  float: left;
  direction: ltr;
}
section.navbar div.go-to-profile div.user-data span {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  font-family: Helvetica;
}
section.navbar div.go-to-profile div.user-data span.fullname {
  font-size: 16px;
  color: #FFF;
  margin-right: 10px;
}
section.navbar div.go-to-profile div.user-data span.username {
  font-size: 12px;
  color: #A7A7A7;
}
section.navbar div.social div.profile-picture {
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  position: relative;
}
section.navbar div.social div.profile-picture img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
  border: solid #007AFF 2px;
}
section.navbar div.social div.profile-picture i.badge {
  font-size: 24px;
  position: absolute;
  display: block;
  right: -5px;
  bottom: 0;
  line-height: 10px;
  font-style: normal;
}
section.navbar div.social div.stats {
  width: calc(100% - 104px);
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}
section.navbar div.social div.stats div.col {
  display: inline-block;
  width: 33.3333%;
  vertical-align: middle;
  text-align: left;
}
section.navbar div.social div.stats div.col span {
  display: block;
  color: #FFF;
}
section.navbar div.social div.stats div.col span.label {
  font-family: Helvetica;
  font-size: 12px;
}
section.navbar div.social div.stats div.col span.count {
  line-height: 30px;
  font-family: Helvetica;
  font-size: 16px;
}
section.navbar div.navigation {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 24px;
}
section.navbar div.navigation button {
  background: transparent;
}
section.navbar div.navigation button.left {
  float: left;
}
section.navbar div.navigation button.right {
  float: right;
}
section.navbar div.navigation button img {
  display: block;
  height: 24px;
}
section.navbar div.navigation button i.arrow-right {
  display: block;
  transform: rotate(180deg);
}

body {
  background: #0F0F0F;
}